<!doctype html>
<lhtml>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <title>signal</title>
</head>
<body>
 {% block content %}
 <div class="container">
 <div class="row align-items-center">
     <div class="col">
         <form action="{% url 'signal' %}" method="post">
            <button type="submit" name="LED" class="btn btn-primary btn-block btn-lg">
              LEDボタン
            </button>
            {% csrf_token %}
         </form>
    </div>
 </div>
 </div>
 {% endblock %}
</body>
</lhtml>